{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="apihu-port-pricing-area" id="apihu-port-pricing-area">
    
    <img class="apihu-port-pricing-shape-left" src="{% static 'assets/pricing-left-shape.png' %}" alt="Pricing Area Shape left">
    <img class="apihu-port-pricing-shape-right" src="{% static 'assets/pricing-right-shape.png' %}" alt="Pricing Area Shape right">

    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <div class="apihu-port-section-heading">
                    <p class="apihu-port-section-subtitle">Qualifications</p>
                    <h2 class="apihu-port-section-title">Academic and Professional</h2>
                    <p class="apihu-port-section-text">
                        
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="apihu-port-single-pricing wow fadeInUp" data-wow-delay="0.2s">
                    <h3>Class X</h3>
                    <h4>Gopalpur Deshbandhu Chittaranjan High School</h4>
                    <ul>
                        <li><i class="fa-solid fa-location-pin"></i> Gopalpur, Paschim Madinipur, 721212</li>
                    </ul>
                    <a>
                        Completed in 2017<i class="fa-solid fa-check"></i>
                    </a>
                </div>
            </div>
            
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="apihu-port-single-pricing wow fadeInUp" data-wow-delay="0.2s">
                    <h3>Class XII (Science)</h3>
                    <h4>Gopalpur Deshbandhu Chittaranjan High School</h4>
                    <ul>
                        <li><i class="fa-solid fa-location-pin"></i> Gopalpur, Paschim Madinipur, 721212</li>
                    </ul>
                    <a>
                        Completed in 2019<i class="fa-solid fa-check"></i>
                    </a>
                </div>
            </div>
            
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="apihu-port-single-pricing wow fadeInUp" data-wow-delay="0.2s">
                    <h3>B.Tech ECE</h3>
                    <h4>JIS College of <br>Engineering</h4>
                    <ul>
                        <li><i class="fa-solid fa-location-pin"></i> Kalyani, Nadia, 741235</li>
                        <li>Overall CGPA: 8.68</li>
                    </ul>
                    <a>
                        Completed in 2023 <i class="fa-solid fa-check"></i>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</section>
{% endblock %}